export(print.hclustsparseperm,plot.hclustsparseperm,plot.hclustsparse,print.hclustsparse,print.kmeanssparseperm,plot.kmeanssparseperm,plot.multikmeanssparse,print.multikmeanssparse,plot.kmeanssparse,print.kmeanssparse,ColorDendrogram,KMeansSparseCluster,KMeansSparseCluster.permute,HierarchicalSparseCluster,HierarchicalSparseCluster.permute,HierarchicalSparseCluster.wrapper)
