export(ColorDendrogram,KMeansSparseCluster,KMeansSparseCluster.permute,HierarchicalSparseCluster,HierarchicalSparseCluster.permute,HierarchicalSparseCluster.wrapper,print.KMeansSparseCluster,plot.KMeansSparseCluster,print.KMeansSparseCluster.permute,plot.KMeansSparseCluster.permute,print.HierarchicalSparseCluster,plot.HierarchicalSparseCluster,print.HierarchicalSparseCluster.permute,plot.HierarchicalSparseCluster.permute)
